.seaction_input {
  width: auto;
  padding-top: 5vh;
  display: flex;
  padding-left: 25px;
}

.seaction_input input {
  width: 40vh;
  height: 40px;
  border: none;
  border: 1px solid rgb(202, 202, 202);
}

.input_darkmode{
  background-color: #14232d;
}

@media (min-width:600px){
  .input_darkmode{
    background-color: #14232d;
  }
}