.section_country{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90vmax;
    margin: auto;
}

@media (min-width:600px){
    .section_country{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width:900px){
    .section_country{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width:1300px){
    .section_country{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width:1600px){
    .section_country{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}